<div class="contenedor ">
   <div class="cabezera">
     <!--  <div class="barra">
         <app-barrabusqueda></app-barrabusqueda>
      </div> -->
      <div class="titulo">
         <h1>Proyectos</h1>
      </div>
      <div class="btn-agregar">
         <img class="img-agregar" src="/assets/plus-circle-solid.svg" alt="">
      </div>
   </div>
   <div class="body">

     <div class="card-proyecto">
         <div class="imagen">
            <img class="foto-proyecto"src="/assets/plus-circle-solid.svg" alt="">
         </div>
        <div class="info">
            <p>proyecto sin nombre</p>
            <p>proyecto sin nombre</p>
            <p>proyecto sin nombre</p>
        </div>
      </div> 
      <div class="card-proyecto">
         <div class="imagen">
            <img class="foto-proyecto"src="/assets/plus-circle-solid.svg" alt="">
         </div>
         <div class="info">
            <p>proyecto sin nombre</p>
            <p>proyecto sin nombre</p>
            <p>proyecto sin nombre</p>
         </div>
      </div> 
      <div class="card-proyecto">
         <div class="imagen">
               <img class="foto-proyecto"src="/assets/plus-circle-solid.svg" alt="">
         </div>
         <div class="info">
            <p>proyecto sin nombre</p>
            <p>proyecto sin nombre</p>
            <p>proyecto sin nombre</p>
         </div>
      </div> 

      <div class="card-proyecto">
            <div class="imagen">
                  <img class="foto-proyecto"src="/assets/plus-circle-solid.svg" alt="">
            </div>
            <div class="info">
               <p>proyecto sin nombre</p>
               <p>proyecto sin nombre</p>
               <p>proyecto sin nombre</p>
            </div>
         </div> 


   </div>
   <div class="footer">
      <app-navbar></app-navbar>
   </div>
</div>
