.contenedor{
    height: 90%;
    width: 90%;
    background-color: rgb(189, 194, 184);
}
.input{
    height: 30px;
    font-size:20px;
    margin: 20px 0 20px 20px ;
    width: 90%;
    color: cadetblue;
}
.btn-google{
    height:5%;
    width:70%;
    background-color: rgb(107, 34, 34);
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular';
    color: rgb(23, 55, 124);
}